<%= error_messages_for @team, :header => "<h2>Klaida</h2>" %>

<%= form_for @team, :action => url(:teams) do %>
  <p><%= text_field :name, :label => "Pavadinimas" %></p>
  <%= submit "Sukurti komandą" %>
<% end =%>
