<% if hints.empty? %>
    <em>Užuominų nėra</em>
<% else %>
    <% hints.each do |hint| %>
        <p>
          <em>Už</em> <strong><%= link_to hint.delay_in_minutes, resource(hint.level.game, hint.level, hint, :edit) unless @level.game.started? %></strong> <em>минут:</em>
          <em>
            <%= link_to "(redaguoti)", resource(hint.level.game, hint.level, hint, :edit) unless @level.game.started? %>
            <%= link_to "(ištrinti)", resource(hint.level.game, hint.level, hint, :delete) unless @level.game.started? %>
          </em>
        </p>
        <p>
          <%= hint.text %>
        </p>
        <br />
    <% end %>
<% end %>
